#nav-bar {
  display: flex;
  justify-content: space-between;
  top: 0;
  position: fixed;
  height: 80px;
  width: 100%;
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 0px;
  z-index: 1;
}

#nav-bar .logo {
  order: 1;
  height: 80px;
  width: 80px;
}

#nav-bar .header {
  order: 2;
  line-height: 2em;
  font-size: 200%;
}

#nav-bar button {

  justify-content: flex-end;
  order: 3;
  border: 2px solid black;
  border-radius: 5px;
  color: #00a087;
  background-color: #d3ede9;
  height: 50px;
  margin-top: 10px;
}

#nav-bar button:hover {
  background-color: white;
  color: black;
}